## Introduction:
Work with data from the S&P500 Index. 




### Data Dictionary:
|Feature|Description|
|:----|:----|
|Date | The date of the record.|
|Open | The opening price of the day (when trading starts).|
|High | The highest trade price during the day.|
|Low | The lowest trade price during the day.|
|Close | The closing price for the day (when trading is finished).|
|Volume | The number of shares traded.|
|Adj Close | The daily closing price, adjusted retroactively to include any corporate actions.|

## Goals:
Use historical data on the price of the S&P500 Index to make predictions about future prices. Predicting whether an index goes up or down helps forecast how the stock market as a whole performs. Since stocks tend to correlate with how well the economy as a whole is performs, it can also help with economic forecasts.

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from datetime import datetime

In [48]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, cross_val_score

### Adjust View Settings

In [3]:
pd.set_option('display.max_rows', 500) 
pd.set_option('display.max_columns', 100)

## Loading Dataset

In [4]:
stock = pd.read_csv('sphist.csv')

In [5]:
stock.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [6]:
stock.tail()

             Date   Open   High    Low  Close     Volume  Adj Close
16585  1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08
16586  1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16587  1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16588  1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16589  1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66

In [7]:
stock.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

### Summary Statistics and Exploration

In [8]:
stock.shape

(16590, 7)

In [9]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  object
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: float64(6), object(1)
memory usage: 907.4+ KB

In [10]:
stock.describe()

,Open,High,Low,Close,Volume,Adj Close
count,16590.000000,16590.000000,16590.000000,16590.000000,1.659000e+04,16590.000000
mean,482.570941,485.624237,479.367501,482.692491,7.940099e+08,482.692491
std,554.889186,558.186049,551.367625,555.007904,1.456582e+09,555.007904
min,16.660000,16.660000,16.660000,16.660000,6.800000e+05,16.660000
25%,83.860001,84.594997,83.139997,83.860001,7.610000e+06,83.860001
50%,144.049995,145.294998,143.105004,144.264999,7.170500e+07,144.264999
75%,950.722488,956.665024,941.969986,950.797500,7.866750e+08,950.797500
max,2130.360107,2134.719971,2126.060059,2130.820068,1.145623e+10,2130.820068

In [11]:
stock.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
dtype: int64

Lets convert the column *Date* to datetime object

In [12]:
stock['Date'] = pd.to_datetime(stock['Date'])

In [13]:
# Sort the dataframe in ascending order by date
stock = stock.sort_values(by='Date')
stock.head()

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

## Generating Indicators

### A note on generating Indicators:

Datasets taken from the stock market need to be handled differently than datasets from other sectors when it's time to make predictions. In a normal machine learning exercise, we treat each row as independent. Stock market data is sequential and each observation comes a day after the previous observation. Thus, the observations are not all independent and we can't treat them as such.

This means we have to be extra careful not to inject "future" knowledge into past rows when you train and predict. Injecting future knowledge makes our model look good when we train and test it, but it fails in the real world. This is how many algorithmic traders lose money.

The time series nature of the data means that we can generate indicators to make our model more accurate. For instance, we can create a new column that contains the average price of the last 10 trades for each row. This incorporates information from multiple prior rows into one and makes predictions much more accurate.

When we do this, you have to be careful not to use the current row in the values you average. We want to teach the model how to predict the current price from historical prices. If we include the current price in the prices you average, it will be equivalent to handing the answers to the model upfront, and will make it impossible to use in the "real world", where we don't know the price upfront.

Here are some indicators that are interesting to generate for each row:

- The average price from the past 5 days.
- The average price for the past 30 days.
- The average price for the past 365 days.
- The ratio between the average price for the past 5 days, and the average price for the past 365 days.
- The standard deviation of the price over the past 5 days.
- The standard deviation of the price over the past 365 days.
- The ratio between the standard deviation for the past 5 days, and the standard deviation for the past 365 days.

"Days" means "trading days" -- so if we are computing the average of the past 5 days, it should be the 5 most recent dates before the current one. Assume that "price" means the Close column. We have to be careful not to include the current price in these indicators! We are predicting the next day price, so our indicators are designed to predict the current price from the previous prices.

In [14]:
stock.head()

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

### Indicators for Average Prices, Standard Deviation of Prices and Ratios

In [15]:
# Prices mean for previous 5, 30, and 365 days 
stock['5_days_mean'] = stock['Close'].rolling(5).mean().shift(1)
stock['30_days_mean'] = stock['Close'].rolling(30).mean().shift(1)
stock['365_days_mean'] = stock['Close'].rolling(365).mean().shift(1)

# Ratio 
stock['ratio_bw_5_365_mean'] = stock['5_days_mean'] / stock['365_days_mean']

In [16]:
# Prices Standard Deviation for previous 5, and 365 days
stock['5_days_std'] = stock['Close'].rolling(5).std().shift(1)
stock['365_days_std'] = stock['Close'].rolling(365).std().shift(1)

# Ratio
stock['ratio_bw_5_365_std'] = stock['5_days_std'] / stock['365_days_std']

In [17]:
stock.head()

,Date,Open,High,Low,Close,Volume,Adj Close,5_days_mean,30_days_mean,365_days_mean,ratio_bw_5_365_mean,5_days_std,365_days_std,ratio_bw_5_365_std
16589,1950-01-03,16.66,16.66,16.66,16.66,1260000.0,16.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16588,1950-01-04,16.85,16.85,16.85,16.85,1890000.0,16.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16587,1950-01-05,16.93,16.93,16.93,16.93,2550000.0,16.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16586,1950-01-06,16.98,16.98,16.98,16.98,2010000.0,16.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16585,1950-01-09,17.08,17.08,17.08,17.08,2520000.0,17.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
stock.tail()

,Date,Open,High,Low,Close,Volume,Adj Close,5_days_mean,30_days_mean,365_days_mean,ratio_bw_5_365_mean,5_days_std,365_days_std,ratio_bw_5_365_std
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,2035.531178,1.025297,3.916109,64.370261,0.060837
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,2035.914082,1.026680,7.956808,64.352527,0.123644
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,2036.234356,1.025573,9.333599,64.277554,0.145208
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,2036.507343,1.021580,19.599946,64.121622,0.305668
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,2036.869425,1.021554,19.806136,64.058862,0.309187

Since We are computing indicators that use historical data, there are some rows where there is not enough historical data to generate them. 

We will need to remove those rows before splitting the data. 

We can expect to have the maximum number of rows with at least one null value in 365_days_mean and 365_days_std.

In [19]:
stock['365_days_mean'].isnull().sum()

365

In [20]:
stock[stock['Date'] > datetime(year=1951, month=1, day=3)]['365_days_mean'].isnull().sum()

114

In [21]:
stock = stock[stock['Date'] > datetime(year=1951, month=1, day=3)]

We still have some null values in the dataset

In [22]:
stock = stock.dropna(axis=0)
stock.shape

(16225, 14)

In [23]:
stock.head(100)

,Date,Open,High,Low,Close,Volume,Adj Close,5_days_mean,30_days_mean,365_days_mean,ratio_bw_5_365_mean,5_days_std,365_days_std,ratio_bw_5_365_std
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1100000.0,22.020000,21.800000,21.703333,19.447726,1.120954,0.256223,1.790253,0.143121
16223,1951-06-20,21.910000,21.910000,21.910000,21.910000,1120000.0,21.910000,21.900000,21.683000,19.462411,1.125246,0.213659,1.789307,0.119409
16222,1951-06-21,21.780001,21.780001,21.780001,21.780001,1100000.0,21.780001,21.972000,21.659667,19.476274,1.128142,0.092574,1.788613,0.051758
16221,1951-06-22,21.549999,21.549999,21.549999,21.549999,1340000.0,21.549999,21.960000,21.631000,19.489562,1.126757,0.115108,1.787659,0.064390
16220,1951-06-25,21.290001,21.290001,21.290001,21.290001,2440000.0,21.290001,21.862000,21.599000,19.502082,1.121008,0.204132,1.786038,0.114293
16219,1951-06-26,21.299999,21.299999,21.299999,21.299999,1260000.0,21.299999,21.710000,21.564333,19.513617,1.112556,0.292831,1.783946,0.164148
16218,1951-06-27,21.370001,21.370001,21.370001,21.370001,1360000.0,21.370001,21.566000,21.535000,19.525315,1.104515,0.278980,1.781613,0.156589
16217,1951-06-28,21.100000,21.100000,21.100000,21.100000,1940000.0,21.100000,21.458000,21.522000,19.537041,1.098324,0.208015,1.779624,0.116887
16216,1951-06-29,20.959999,20.959999,20.959999,20.959999,1730000.0,20.959999,21.322000,21.502333,19.548932,1.090699,0.162080,1.775513,0.091286
16215,1951-07-02,21.100000,21.100000,21.100000,21.100000,1350000.0,21.100000,21.204000,21.470667,19.560685,1.084011,0.169205,1.770595,0.095564
16214,1951-07-03,21.230000,21.230000,21.230000,21.230000,1250000.0,21.230000,21.166000,21.457000,19.572685,1.081405,0.166373,1.766127,0.094202
16213,1951-07-05,21.639999,21.639999,21.639999,21.639999,1410000.0,21.639999,21.152000,21.449333,19.584658,1.080029,0.154823,1.762495,0.087843
16212,1951-07-06,21.639999,21.639999,21.639999,21.639999,1170000.0,21.639999,21.206000,21.458667,19.597781,1.082061,0.260730,1.759908,0.148150
16211,1951-07-09,21.730000,21.730000,21.730000,21.730000,1110000.0,21.730000,21.313999,21.474667,19.610849,1.086847,0.312538,1.757305,0.177851
16210,1951-07-10,21.629999,21.629999,21.629999,21.629999,990000.0,21.629999,21.468000,21.497333,19.624082,1.093962,0.282789,1.755020,0.161132
16209,1951-07-11,21.680000,21.680000,21.680000,21.680000,970000.0,21.680000,21.573999,21.517333,19.636986,1.098641,0.196545,1.752397,0.112158
16208,1951-07-12,21.799999,21.799999,21.799999,21.799999,1050000.0,21.799999,21.663999,21.533000,19.650192,1.102483,0.041594,1.749572,0.023774
16207,1951-07-13,21.980000,21.980000,21.980000,21.980000,1320000.0,21.980000,21.695999,21.548000,19.664055,1.103333,0.070214,1.746493,0.040203
16206,1951-07-16,21.730000,21.730000,21.730000,21.730000,1200000.0,21.730000,21.764000,21.563333,19.678438,1.105982,0.136125,1.743879,0.078059
16205,1951-07-17,21.920000,21.920000,21.920000,21.920000,1280000.0,21.920000,21.764000,21.571666,19.691890,1.105227,0.136125,1.740704,0.078201
16204,1951-07-18,21.879999,21.879999,21.879999,21.879999,1370000.0,21.879999,21.822000,21.594333,19.705315,1.107417,0.126175,1.738935,0.072559
16203,1951-07-19,21.840000,21.840000,21.840000,21.840000,1120000.0,21.840000,21.862000,21.612666,19.718548,1.108702,0.098590,1.737050,0.056757
16202,1951-07-20,21.879999,21.879999,21.879999,21.879999,1390000.0,21.879999,21.870000,21.624666,19.731671,1.108370,0.093808,1.734926,0.054070
16201,1951-07-23,22.100000,22.100000,22.100000,22.100000,1320000.0,22.100000,21.850000,21.635333,19.744411,1.106642,0.072801,1.733578,0.041995
16200,1951-07-24,22.440001,22.440001,22.440001,22.440001,1740000.0,22.440001,21.924000,21.655666,19.757589,1.109650,0.102372,1.733151,0.059067
16199,1951-07-25,22.320000,22.320000,22.320000,22.320000,1870000.0,22.320000,22.028000,21.683333,19.771616,1.114122,0.252032,1.734088,0.145340
16198,1951-07-26,22.469999,22.469999,22.469999,22.469999,1480000.0,22.469999,22.116000,21.710000,19.785562,1.117785,0.263970,1.734059,0.152227
16197,1951-07-27,22.530001,22.530001,22.530001,22.530001,1450000.0,22.530001,22.242000,21.740666,19.799973,1.123335,0.249239,1.734452,0.143699
16196,1951-07-30,22.629999,22.629999,22.629999,22.629999,1600000.0,22.629999,22.372000,21.763666,19.814356,1.129080,0.170206,1.735266,0.098086
16195,1951-07-31,22.400000,22.400000,22.400000,22.400000,1550000.0,22.400000,22.478000,21.783333,19.829123,1.133585,0.114324,1.736232,0.065846
16194,1951-08-01,22.510000,22.510000,22.510000,22.510000,1680000.0,22.510000,22.470000,21.795000,19.843753,1.132346,0.118954,1.735332,0.068548
16193,1951-08-02,22.820000,22.820000,22.820000,22.820000,2130000.0,22.820000,22.508000,21.811333,19.858685,1.133408,0.084380,1.734761,0.048641
16192,1951-08-03,22.850000,22.850000,22.850000,22.850000,1570000.0,22.850000,22.578000,21.841666,19.874658,1.136020,0.158019,1.735115,0.091071
16191,1951-08-06,23.010000,23.010000,23.010000,23.010000,1600000.0,23.010000,22.642000,21.877333,19.890274,1.138345,0.194345,1.736175,0.111939
16190,1951-08-07,23.030001,23.030001,23.030001,23.030001,1810000.0,23.030001,22.718000,21.926000,19.906192,1.141253,0.253712,1.738075,0.145973
16189,1951-08-08,22.930000,22.930000,22.930000,22.930000,1410000.0,22.930000,22.844000,21.984000,19.922247,1.146658,0.208758,1.739795,0.119990
16188,1951-08-09,22.840000,22.840000,22.840000,22.840000,1500000.0,22.840000,22.928000,22.038333,19.937918,1.149970,0.093381,1.741058,0.053635
16187,1951-08-10,22.790001,22.790001,22.790001,22.790001,1260000.0,22.790001,22.932000,22.087333,19.953151,1.149292,0.087864,1.742062,0.050437
16186,1951-08-13,22.799999,22.799999,22.799999,22.799999,1320000.0,22.799999,22.920000,22.143667,19.968247,1.147822,0.104403,1.742708,0.059909
16185,1951-08-14,22.700001,22.700001,22.700001,22.700001,1180000.0,22.700001,22.878000,22.205000,19.983534,1.144843,0.101341,1.743008,0.058142
16184,1951-08-15,22.790001,22.790001,22.790001,22.790001,1340000.0,22.790001,22.812000,22.258333,19.998493,1.140686,0.083486,1.742827,0.047903
16183,1951-08-16,22.870001,22.870001,22.870001,22.870001,1750000.0,22.870001,22.784000,22.310333,20.013726,1.138419,0.051283,1.742861,0.029425
16182,1951-08-17,22.940001,22.940001,22.940001,22.940001,1620000.0,22.940001,22.790001,22.351333,20.029014,1.137849,0.060415,1.743376,0.034654
16181,1951-08-20,22.930000,22.930000,22.930000,22.930000,1130000.0,22.930000,22.820001,22.394667,20.044411,1.138472,0.090277,1.744202,0.051759
16180,1951-08-21,22.830000,22.830000,22.830000,22.830000,1400000.0,22.830000,22.846001,22.434667,20.060110,1.138877,0.101143,1.744317,0.057984
16179,1951-08-22,22.750000,22.750000,22.750000,22.750000,1130000.0,22.750000,22.872001,22.474667,20.075562,1.139296,0.064187,1.743804,0.036809
16178,1951-08-23,22.900000,22.900000,22.900000,22.900000,1230000.0,22.900000,22.864000,22.510333,20.091123,1.138015,0.077975,1.742252,0.044755
16177,1951-08-24,22.879999,22.879999,22.879999,22.879999,1210000.0,22.879999,22.870000,22.547000,20.107041,1.137413,0.079687,1.741298,0.045763
16176,1951-08-27,22.850000,22.850000,22.850000,22.850000,1080000.0,22.850000,22.858000,22.577000,20.122822,1.135924,0.070498,1.740253,0.040510
16175,1951-08-28,22.900000,22.900000,22.900000,22.900000,1280000.0,22.900000,22.842000,22.614333,20.138164,1.134264,0.058052,1.739541,0.033372
16174,1951-08-29,23.080000,23.080000,23.080000,23.080000,1520000.0,23.080000,22.856000,22.647000,20.153096,1.134119,0.062690,1.739794,0.036033
16173,1951-08-30,23.240000,23.240000,23.240000,23.240000,1950000.0,23.240000,22.922000,22.687000,20.168411,1.136530,0.090664,1.740891,0.052079
16172,1951-08-31,23.280001,23.280001,23.280001,23.280001,1530000.0,23.280001,22.990000,22.733667,20.184274,1.139006,0.166133,1.742431,0.095345
16171,1951-09-04,23.280001,23.280001,23.280001,23.280001,1520000.0,23.280001,23.070000,22.780334,20.200274,1.142064,0.193907,1.743975,0.111187
16170,1951-09-05,23.420000,23.420000,23.420000,23.420000,1850000.0,23.420000,23.156000,22.819667,20.216247,1.145415,0.165167,1.745414,0.094629
16169,1951-09-06,23.469999,23.469999,23.469999,23.469999,2150000.0,23.469999,23.260000,22.852333,20.232329,1.149645,0.121655,1.747821,0.069604
16168,1951-09-07,23.530001,23.530001,23.530001,23.530001,1970000.0,23.530001,23.338000,22.890667,20.248521,1.152578,0.100598,1.750369,0.057472
16167,1951-09-10,23.620001,23.620001,23.620001,23.620001,2190000.0,23.620001,23.396000,22.926000,20.264877,1.154510,0.112827,1.753069,0.064360
16166,1951-09-11,23.500000,23.500000,23.500000,23.500000,2040000.0,23.500000,23.464000,22.962334,20.281753,1.156902,0.127004,1.755641,0.072341
16165,1951-09-12,23.600000,23.600000,23.600000,23.600000,2180000.0,23.600000,23.508000,22.991334,20.298110,1.158137,0.074633,1.757743,0.042460
16164,1951-09-13,23.709999,23.709999,23.709999,23.709999,2350000.0,23.709999,23.544000,23.031334,20.314986,1.158947,0.064266,1.759797,0.036519
16163,1951-09-14,23.690001,23.690001,23.690001,23.690001,2170000.0,23.690001,23.592000,23.071334,20.332548,1.160307,0.082280,1.761609,0.046707
16162,1951-09-17,23.620001,23.620001,23.620001,23.620001,1800000.0,23.620001,23.624000,23.100334,20.350082,1.160880,0.083247,1.763093,0.047216
16161,1951-09-18,23.590000,23.590000,23.590000,23.590000,2030000.0,23.590000,23.624000,23.126000,20.366767,1.159929,0.083247,1.765147,0.047161
16160,1951-09-19,23.590000,23.590000,23.590000,23.590000,2070000.0,23.590000,23.642000,23.145334,20.383315,1.159870,0.054498,1.766978,0.030842
16159,1951-09-20,23.570000,23.570000,23.570000,23.570000,2100000.0,23.570000,23.640000,23.164000,20.399644,1.158844,0.056568,1.769002,0.031978
16158,1951-09-21,23.400000,23.400000,23.400000,23.400000,2180000.0,23.400000,23.612000,23.185334,20.415507,1.156572,0.047117,1.771405,0.026599
16157,1951-09-24,23.299999,23.299999,23.299999,23.299999,1630000.0,23.299999,23.554000,23.204000,20.430712,1.152872,0.087921,1.773142,0.049585
16156,1951-09-25,23.379999,23.379999,23.379999,23.379999,1740000.0,23.379999,23.490000,23.221000,20.445918,1.148885,0.132854,1.773887,0.074894
16155,1951-09-26,23.400000,23.400000,23.400000,23.400000,1520000.0,23.400000,23.448000,23.240334,20.460822,1.145995,0.126373,1.775627,0.071171
16154,1951-09-27,23.270000,23.270000,23.270000,23.270000,1540000.0,23.270000,23.410000,23.263667,20.475671,1.143308,0.098489,1.777486,0.055409
16153,1951-09-28,23.260000,23.260000,23.260000,23.260000,1390000.0,23.260000,23.350000,23.279667,20.490219,1.139568,0.060828,1.778569,0.034200
16152,1951-10-01,23.469999,23.469999,23.469999,23.469999,1330000.0,23.469999,23.322000,23.292667,20.504959,1.137383,0.064187,1.779171,0.036077
16151,1951-10-02,23.639999,23.639999,23.639999,23.639999,1870000.0,23.639999,23.356000,23.310333,20.519863,1.138214,0.089610,1.781166,0.050310
16150,1951-10-03,23.790001,23.790001,23.790001,23.790001,2780000.0,23.790001,23.408000,23.334000,20.535178,1.139898,0.157066,1.783901,0.088047
16149,1951-10-04,23.719999,23.719999,23.719999,23.719999,1810000.0,23.719999,23.486000,23.366000,20.551233,1.142802,0.231366,1.786757,0.129489
16148,1951-10-05,23.780001,23.780001,23.780001,23.780001,2080000.0,23.780001,23.576000,23.398333,20.567014,1.146302,0.213143,1.789243,0.119125
16147,1951-10-08,23.750000,23.750000,23.750000,23.750000,1860000.0,23.750000,23.680000,23.427667,20.583315,1.150446,0.131720,1.791342,0.073532
16146,1951-10-09,23.650000,23.650000,23.650000,23.650000,1750000.0,23.650000,23.736000,23.456667,20.599534,1.152259,0.060250,1.793144,0.033600
16145,1951-10-10,23.610001,23.610001,23.610001,23.610001,1320000.0,23.610001,23.738000,23.483333,20.615671,1.151454,0.056303,1.794022,0.031384
16144,1951-10-11,23.700001,23.700001,23.700001,23.700001,1760000.0,23.700001,23.702000,23.507000,20.631425,1.148830,0.070498,1.795003,0.039275
16143,1951-10-15,23.850000,23.850000,23.850000,23.850000,1720000.0,23.850000,23.698001,23.527667,20.647151,1.147761,0.069785,1.796678,0.038841
16142,1951-10-16,23.770000,23.770000,23.770000,23.770000,1730000.0,23.770000,23.712000,23.548000,20.662575,1.147582,0.093381,1.799948,0.051880
16141,1951-10-17,23.690001,23.690001,23.690001,23.690001,1460000.0,23.690001,23.716000,23.564333,20.678082,1.146915,0.095812,1.802276,0.053162
16140,1951-10-18,23.670000,23.670000,23.670000,23.670000,1450000.0,23.670000,23.724001,23.578000,20.692932,1.146478,0.090443,1.804707,0.050115
16139,1951-10-19,23.320000,23.320000,23.320000,23.320000,1990000.0,23.320000,23.736000,23.586333,20.708137,1.146216,0.074027,1.806349,0.040981
16138,1951-10-22,22.750000,22.750000,22.750000,22.750000,2690000.0,22.750000,23.660000,23.581333,20.722110,1.141776,0.202978,1.806775,0.112343
16137,1951-10-23,22.840000,22.840000,22.840000,22.840000,2110000.0,22.840000,23.440000,23.555333,20.734384,1.130489,0.422729,1.805288,0.234162
16136,1951-10-24,23.030001,23.030001,23.030001,23.030001,1670000.0,23.030001,23.254000,23.529333,20.746904,1.120842,0.445231,1.803996,0.246802
16135,1951-10-25,22.959999,22.959999,22.959999,22.959999,1360000.0,22.959999,23.122000,23.513667,20.759890,1.113782,0.376125,1.803322,0.208573
16134,1951-10-26,22.809999,22.809999,22.809999,22.809999,1710000.0,22.809999,22.980000,23.492333,20.772685,1.106260,0.218518,1.802316,0.121243
16133,1951-10-29,22.690001,22.690001,22.690001,22.690001,1780000.0,22.690001,22.878000,23.462333,20.785370,1.100678,0.114324,1.800311,0.063503
16132,1951-10-30,22.660000,22.660000,22.660000,22.660000,1530000.0,22.660000,22.866000,23.429000,20.797507,1.099459,0.132778,1.798170,0.073841
16131,1951-10-31,22.940001,22.940001,22.940001,22.940001,1490000.0,22.940001,22.830000,23.397000,20.809069,1.097118,0.162634,1.796537,0.090527
16130,1951-11-01,23.100000,23.100000,23.100000,23.100000,1430000.0,23.100000,22.812000,23.375333,20.821178,1.095615,0.138094,1.795961,0.076891
16129,1951-11-02,22.930000,22.930000,22.930000,22.930000,1230000.0,22.930000,22.840000,23.359000,20.833617,1.096305,0.182620,1.795979,0.101683
16128,1951-11-05,22.820000,22.820000,22.820000,22.820000,1130000.0,22.820000,22.864000,23.337667,20.845260,1.096844,0.185553,1.795755,0.103329
16127,1951-11-07,22.490000,22.490000,22.490000,22.490000,1490000.0,22.490000,22.890000,23.318333,20.856822,1.097483,0.162788,1.794844,0.090698
16126,1951-11-08,22.469999,22.469999,22.469999,22.469999,1410000.0,22.469999,22.856000,23.291333,20.867178,1.095309,0.227662,1.793328,0.126950
16125,1951-11-09,22.750000,22.750000,22.750000,22.750000,1470000.0,22.750000,22.762000,23.261000,20.877534,1.090263,0.276171,1.791634,0.154144

## Splitting the Dataset into Train and Test:
- **train** should contain any rows in the data with a date **less than 2013-01-01** 
- **test** should contain any rows with a date **greater than or equal to 2013-01-01**

In [24]:
train = stock[stock['Date'] < datetime(year=2013, month=1, day=1)]

In [25]:
test = stock[stock['Date'] >= datetime(year=2013, month=1, day=1)]

### Error Metric
We will use Mean Absolute Error, also called MAE, as an error metric, because it will show how "close" we were to the price in intuitive terms. Mean Squared Error, or MSE, is an alternative that is more commonly used, but makes it harder to intuitively tell how far off we are from the true price because it squares the error.

### Features:
We will omit all original columns we had with the dataset, that includes *Close* as our **target variable**, as well as  *High, Low, Open, Volume, Adj Close, Date* when training our model.
These all contain knowledge of the future that we don't want to feed the model.

In [86]:
features = stock.columns.tolist()
for col in ['High', 'Low', 'Open', 'Volume', 'Adj Close', 'Date', 'Close']:
    features.remove(col)

In [87]:
features

['5_days_mean',
 '30_days_mean',
 '365_days_mean',
 'ratio_bw_5_365_mean',
 '5_days_std',
 '365_days_std',
 'ratio_bw_5_365_std']

In [37]:
target = 'Close'

In [89]:
all_features = features
all_features.append('Close')

In [90]:
all_features

['5_days_mean',
 '30_days_mean',
 '365_days_mean',
 'ratio_bw_5_365_mean',
 '5_days_std',
 '365_days_std',
 'ratio_bw_5_365_std',
 'Close']

## Linear Regression Model

In [53]:
# Instantiate the model
linreg = LinearRegression()

# Fit the model
linreg.fit(train[features], train[target])

# Predict
pred_train = linreg.predict(train[features])
pred_test = linreg.predict(test[features])

# Error
mae_train = mean_absolute_error(train[target], pred_train)
mae_test = mean_absolute_error(test[target], pred_test)

mse_train = mean_squared_error(train[target], pred_train)
mse_test = mean_squared_error(test[target], pred_test)


print('MAE train: ',mae_train)
print('MAE test: ',mae_test)
print('-'*30)
print('MSE train: ',mse_train)
print('MSE test: ',mse_test)

MAE train:  4.979250385436781
MAE test:  16.145140609743574
------------------------------
MSE train:  108.6982660907699
MSE test:  492.9230344450398

In [40]:
stock.corr()['Close']

Open                   0.999900
High                   0.999953
Low                    0.999956
Close                  1.000000
Volume                 0.772817
Adj Close              1.000000
5_days_mean            0.999793
30_days_mean           0.999189
365_days_mean          0.988870
ratio_bw_5_365_mean    0.047782
5_days_std             0.722414
365_days_std           0.816103
ratio_bw_5_365_std     0.087018
Name: Close, dtype: float64

#### Lets consider taking the following features:
- Note that we already had omitted *Open, High, Low, Volume, Adj Close* and *Close* from our features for training
- Lets consider taking the following out as well, as they do not show significant correlation with the target variable
    - ratio_bw_5_365_mean
    - ratio_bw_5_365_mean

In [45]:
features_1 = []
for feature in features:
    if 'ratio' not in feature:
        features_1.append(feature)
print(features_1)

['5_days_mean', '30_days_mean', '365_days_mean', '5_days_std', '365_days_std']

In [52]:
# Instantiate the model
linreg = LinearRegression()

# Fit the model
linreg.fit(train[features_1], train[target])

# Predict
pred_train = linreg.predict(train[features_1])
pred_test = linreg.predict(test[features_1])

# Error
mae_train = mean_absolute_error(train[target], pred_train)
mae_test = mean_absolute_error(test[target], pred_test)

mse_train = mean_squared_error(train[target], pred_train)
mse_test = mean_squared_error(test[target], pred_test)


print('MAE train: ',mae_train)
print('MAE test: ',mae_test)
print('-'*30)
print('MSE train: ',mse_train)
print('MSE test: ',mse_test)

MAE train:  4.981706402946077
MAE test:  16.1460567745569
------------------------------
MSE train:  108.70663902551452
MSE test:  492.8297140338371

## Predicting only for the next day

In [148]:
def next_day(row):
    train = stock.iloc[:-row]
    test = stock.iloc[-row:]
    
    linreg = LinearRegression()
    linreg.fit(train[features], train[target])
    
    pred_train = linreg.predict(train[features])
    pred_test = linreg.predict(test[features])
    mse_train = mean_squared_error(train[target], pred_train)
    mse_test = mean_squared_error(test[target], pred_test)
    return mse_train, mse_test

In [149]:
next_day(10)

(7.14215337054402e-25, 5.169878828456423e-24)

# TBC - not completed yet